PORT: 8080
LOG_LEVEL: debug
GIN_MODE: release

DB_READ_USER: user
DB_READ_PASSWORD: pass
DB_READ_HOST: mysql
DB_READ_PORT: 3306
DB_READ_NAME: users
DB_READ_MAX_OPEN_CONN: 100
DB_READ_MAX_IDLE_CONN: 50

DB_WRITE_USER: user
DB_WRITE_PASSWORD: pass
DB_WRITE_HOST: mysql
DB_WRITE_PORT: 3306
DB_WRITE_NAME: users
DB_WRITE_MAX_OPEN_CONN: 150
DB_WRITE_MAX_IDLE_CONN: 75